#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold"
}

p {
  color: grey;
}

.heading {
  margin-left: 150px;
  padding-top: 60px;
  color: white;
}

.btn-light {
  background-color: #ff4c68;
}

.navbar {
  color: #ff4c68;
}

.body {
  font-family: "Montserrat";
}

.navbar {
  background-color: #ff4c68;
  margin-left: 135px;
}

.title {
  font-family: "Montserrat";
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-nav {
  margin-right: 150px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav.link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* DOWNLOAD BUTTONS */
.download-button {
  margin: 5% 3% 5% 0;
}

/* IMAGE */
.doggo {
  width: 20%;
  margin-left: 800px;
  margin-top: -310px;
  transform: rotate(25deg);

}

/* FEATURE SECTION */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  /* 7% top and bottom, 15% left and right */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  /* margin of 20px top, 15px left-right, 50px bottom */
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.pricing-title {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* CTA SECTION */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;

}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
}
.apple-button {
  margin-left: 380px;
}
.google-button {
  background-color: #fff;
  color: Black;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

.card-header {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #e5e5e5;
}
